* {
    border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    color: blue;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.col-1 {
    width: calc(100%/12)
}

.col-2 {
    width: calc(100%/12*2)
}

.col-3 {
    width: calc(100%/12*3)
}

.col-4 {
    width: calc(100%/12*4)
}

.col-5 {
    width: calc(100%/12*5)
}

.col-6 {
    width: calc(100%/12*6)
}

.col-7 {
    width: calc(100%/12*7)
}

.col-8 {
    width: calc(100%/12*8)
}

.col-9 {
    width: calc(100%/12*9)
}

.col-10 {
    width: calc(100%/12*10)
}

.col-11 {
    width: calc(100%/12*11)
}